/* styles.css */
.table-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cell-blue {
  color: blue;
  background: lightgray;
  padding: 5px;
}

.cell-green {
  color: green;
  background: lightyellow;
  padding: 5px;
}

.cell-purple {
  color: purple;
  background: lightblue;
  padding: 5px;
}
