/* styles.css */
.cell-blue {
  color: blue;
  background: lightgray;
  padding: 5px;
}

.cell-green {
  color: green;
  background: lightyellow;
  padding: 5px;
}

.cell-purple {
  color: purple;
  background: lightblue;
  padding: 5px;
}
